<!--
  <div class="container">
    <div class="m-5">
        <form #capturaForm ="ngForm">
            <div class="form-group">
              <label for="documento">Documento</label>
              <input type="text" class="form-control" id="documento"
        [(ngModel)]="usuario.documento" name="documento" required #documento="ngModel">
        <div *ngIf="documento.valid || documento.pristine" class="alert alert-danger">
            El documento es requerido </div>
            </div>        
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
              </div>
            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido">
              </div>
              <div class="form-group">
                  <label for="telefono">Telefono</label>
                  <input type="text" class="form-control" id="telefono" placeholder="Ingrese el telefono">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" placeholder="Ingrese el email">
                  </div>
                <div class="form-group">
                    <label for="ciudad">ciudad</label>
                    <input type="text" class="form-control" id="ciudad" placeholder="Ingrese el ciudad">
                  </div>
                <div class="form-group">
                    <label for="validadPassword">Validar Password</label>
                    <input type="validadPassword" class="form-control" id="validadPassword" placeholder="Ingrese el validadPassword">
                  </div>
              <div class="form-group">
                  <label for="apellido">Apellido</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido">
                </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
          </form>
    </div>
  </div>
-->