<div class="container">
    <div class="row">
      <div class="col-12">
          <div class="card">
            <div class="card-header">
                <h5 class="card-title">Detalle del producto {{producto.nombre}}</h5>
            </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="row">
                        <p class="card-text">Nombre : {{producto.nombre}}</p>
                    </div>
                    <div class="row">
                        <p class="card-text">Codigo : {{producto.codigo}}</p>
                    </div>
                    <div class="row">
                        <p class="card-text">Descripcion : {{producto.descripcion}}</p>
                    </div>
                    <div class="row">
                        <p class="card-text">Disponible : {{producto.disponible}}</p>
                    </div>
                    <div class="row">
                        <p class="card-text">Nombre : {{producto.precio}}</p>
                    </div>
                  </div>

                  <div class="col-6"></div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>